body {
    background-color: #1f253d;
  }

  h1 {
    text-align: center;
    color: #fff;
    font-family: 'Asap', sans-serif;
  }

  .container {
    width: 350px;
    text-align: center;
    list-style: none;
    margin: 0 auto;
    background-color: #394264;
    border-radius: 10px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
  }

  .container input {
    font-family: 'Asap', sans-serif;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .button {
    font-family: 'Asap', sans-serif;
   display: block;
   width: 175px;
   line-height: 50px;
   font-size: 16px;
   text-align: center;
   margin: 10px auto;
   border-radius: 5px;
   background: #e64c65 ;
   border: 0px solid #e64c65 ;
   color: #fff;
   text-transform: uppercase;
   cursor: pointer;
  }

  .button:hover {
    background: #e64b78;
  }

  p {
    color: #fff;
    font-family: 'Asap', sans-serif;
  }

.validate {
  color: green;
  font-family: 'Asap', sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bolder;
}

img {
  width: 350px;
  height: auto;
}
